* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  height: 100%;
}

.background-img1,
.background-img2,
.background-img3,
.background-img4,
.background-img5 {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-img1 {
  background-image: url(./assets/bg.jpg);
}

.background-img2 {
  background-image: url(./assets/bg1.jpg);
}

.background-img3 {
  background-image: url(./assets/bg2.jpg);
}

.background-img4 {
  background-image: url(./assets/bg3.jpg);
}

.background-img5 {
  background-image: url(./assets/bg4.jpg);
}

.heading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.heading-big {
  color: white;
  font-size: 3rem;
  background-color: black;
  padding: 2rem;
  text-transform: uppercase;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  outline: 0.5rem inset purple;
  outline-offset: 1rem;
  letter-spacing: 0.8rem;
}

.section {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  height: auto;
  padding: 5rem;
  gap: 2rem;
}

.section-white {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
}

.section-black {
  background-color: rgba(12, 12, 12, 0.85);
  color: rgba(255, 255, 255, 0.74);
}

.section h2 {
  font-weight: 700;
}

.section p {
  font-weight: 400;
  line-height: 1.8rem;
  text-align: center;
}

.section p strong {
  font-weight: 700;
}

.img-logo {
  width: 40%;
}

.heading-small {
  color: white;
  font-size: 3rem;
  background-color: black;
  padding: 0.5rem;
  text-transform: capitalize;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: 0.5rem inset purple;
  outline-offset: 0.2rem;
  letter-spacing: 0.4rem;
  word-spacing: 0.8rem;
}
