* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}
html {
  font-size: 20px;
  /* 1rem=20px */
}

.abs {
  background-color: chocolate;
  width: 5cm;
}

.div2 {
  background-color: blueviolet;
  width: 50%;
  /* height: 350px; */
  height: 20vh;
}

.div3 {
  background-color: orange;
  width: 50%;
  height: 20%;
}

.div4 {
  background-color: teal;
  width: 60vw;
  /* height: 20%; */
  height: 5vh;
}

.div5 {
  font-size: 25px;
}

.div6 {
  font-size: 2em; /*50px*/
}

.div7 {
  font-size: 2em; /*100px*/
}
.div8 {
  font-size: 25px;
}

.div9 {
  font-size: 2rem; /*32px*/
}
.div10 {
  font-size: 2rem; /*32px*/
}
