h3 {
  width: 350px;
  text-align: center;
  color: red;
  margin-top: 10px;
  margin-bottom: 0;
}

div {
  width: 350px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.input-area {
  width: 250px;
}

#button-div {
  display: flex;
  justify-content: center;
}

.buttons {
  background-color: grey;
  padding: 9px;
  border-radius: 10px;
  margin: 10px;
  width: 150px;
  font-weight: 700;
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}
