.user-list {
  display: flex;
  flex-wrap: wrap;
  .card {
    width: 235px;
    background-color: rgba(255, 0, 0, 0.507);
    border: 2px solid wheat;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
    box-shadow: 2px 2px 10px black;
    transition: 1s;
    img {
      width: 100%;
      border-radius: 1rem;
      height: 60%;
    }
    .texts {
      color: darken(wheat, 0.9);
      .name {
        font-size: 1.5rem;
        font-weight: 900;
      }
      .role {
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
    &:hover {
      transform: scale(0.95);
      box-shadow: none;
    }
  }
}
