* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgb(49, 49, 49);
  width: 40rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rounds1 {
  width: 2.3rem;
  height: 2.3rem;
  background-color: white;
  border-radius: 50%;
  margin: 6%;
  animation: left-round 1s infinite alternate ease-in;
}
@keyframes left-round {
  100% {
    transform: translateX(5.5rem) scale(0.75);
  }
}

.rounds2 {
  width: 3rem;
  height: 3rem;
  background-color: white;
  border-radius: 50%;
}

.rounds3 {
  width: 2.3rem;
  height: 2.3rem;
  background-color: white;
  border-radius: 50%;
  margin: 6%;
  animation: right-round 1s infinite alternate ease-in;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes right-round {
  100% {
    transform: translateX(-5.5rem) scale(0.75);
  }
}
